.toolbar {
    height: 8rem;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(60, 0, 104, 0.25);
}
.toolbar .container {
  width: 100%;
}
.toolbar .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar .container .content .logo img {
  width: 14rem;
}
.toolbar .container .content .userData {
    display: flex;
    align-items: center;
}
.toolbar .container .content .userData .downArrow {
    width: 15px;
    color: #FFFFFF;
}
.toolbar .container .content .userData .userName {
    font-weight: bold;
    line-height: 2.0rem;
    font-size: 1.6rem;
    margin: 0 15px;
}
.toolbar .container .content .userData .perfilImage {
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 30px;
}
