<div class="container">
  <div class="title">
    <h1 id="title">Titulo da Ideia</h1>
  </div>

  <div class="form">
    <div class="logo">
      <img src="https://api.adorable.io/avatars/285/abott@adorable.png">
    </div>

    <div class="idea-description">
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="to-do-list">
    <div class="title">
      <h1>TO DO LIST</h1>
    </div>

    <mat-card color="primary" class="lists-area"></mat-card>
  </div>
</div>
