<div class="container">
  <div class="title">
    <h1 id="title" *ngIf="!isEditingTitle" (dblclick)="editTitle()" >{{ idea.title }}</h1>
    <input id="editTitle" [(ngModel)]="idea.title" [hidden]="!isEditingTitle" (blur)="saveTitle()" value="Titulo da Ideia"/>
  </div>

  <div class="form">
    <div class="logo">
      <img src="https://api.adorable.io/avatars/285/abott@adorable.png">
    </div>

    <div class="idea-description">
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea [(ngModel)]="idea.description" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="to-do-list">
    <div class="title">
      <h1>TO DO LIST</h1>
    </div>

    <mat-card color="primary" class="lists-area">
      <div class="list" *ngFor="let list of idea.list">
        <div class="header">
          <div class="title">
            <fa-icon [icon]="check"></fa-icon>
            <p>{{ list.title }}</p>
          </div>

          <div class="options">
            <button mat-raised-button> Ocultar itens concluídos </button>
            <button mat-raised-button> Remover </button>
          </div>
        </div>

        <div class="list-progress">
          <p>10%</p>
          <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
        </div>

        <div class="list-content">
          <ul>
            <li *ngFor="let item of list.items" >
              <mat-checkbox color="primary" [checked]="item.completed"> {{ item.title }} </mat-checkbox>

              <ul *ngIf="item.subitem.length">
                <li *ngFor="let subitem of item.subitem">
                  <mat-checkbox class="subitem" color="primary" [checked]="subitem.completed"> {{ subitem.title }} </mat-checkbox>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </mat-card>
  </div>
</div>
